/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: IranSans !important;

  p {
    padding: 0;
    margin: 0;
    line-height: 27.5px;
  }
  b,strong{
    font-weight: bold;
  }
  a, a:hover {
    text-decoration: none;
  }
  ol,ul{list-style-position: inside}
  ol,ul,dl,hr {
    margin: 0;
  }
  h1{font-size: 20px}
  h2{font-size: 18px}
  h3{font-size: 16px}
  h4{font-size: 15px}
  h5{font-size: 14px}
  h6{font-size: 13px}

}

.container {
  width: 75%;
  height: 500px;
  background-color: #0054b1;
  //background-color: #eeeeee;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  position: relative;
}

.notification {

  display: block;
  width: 75%;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  //background-color: #fcf8e3;
  position: relative;
  top: 25px;
  border-radius: 10px;
  line-height: 40px;

  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;

  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;

  border-radius: .25rem;

}

.table-container {

  position: relative;
  background-color: #ffffff;
  border: 2px dashed #b9b9b9;
  height: 350px;
  display: block;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  direction: rtl;

  .right {
    width: 25%;
    height: 350px;
    float: right;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    .mobile-number {
      height: 75px;
      display: block;
      padding: 0 10px;
      border: 1px solid;
      border-radius: 0;
      border-top-right-radius: 15px;
    }
    .id-number {
      height: 75px;
      display: block;
      padding: 0 10px;
      border-radius: 0;
      border: 1px solid;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 15px;
    }
  }

  .left {
    width: 75%;
    height: 350px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    float: left;
    .info {
      width: 65%;
      height: 300px;
      float: right;
      .info-text {
        margin: 0 auto;
        padding: 0 10px;
      }
      .logo {
        margin: 0 auto;
        background-image: url("../image/logo.png");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        width: 100px;
        height: 100px;
        opacity: 0.5;
      }
    }
    .barcode {
      width: 35%;
      height: 300px;
      border-top-left-radius: 15px;
      float: left;
      img {
        width: 100%;
        margin-top: 25px;
      }
    }
    .writer {
      text-align: left;
      height: 50px;
      width: 100%;
      display: block;
      border-bottom-left-radius: 15px;
      float: right;
      span {
        padding: 0 5px;
        line-height: 50px;
      }
    }
  }
}