@import "compass";

body {
  padding: 0;
  margin: 0;
  background-color: #f3f3f3;
  font-family: IranSans !important;
  font-size: 14px;

  p {
    padding: 0;
    margin: 0;
    line-height: 27.5px;
  }
  b,strong{
    font-weight: bold;
  }
  a, a:hover {
    text-decoration: none;
  }
  ol,ul{list-style-position: inside}
  ol,ul,dl,hr {
    margin: 0;
  }
  //h1{font-size: 20px}
  //h2{font-size: 18px}
  //h3{font-size: 16px}
  //h4{font-size: 15px}
  //h5{font-size: 14px}
  //h6{font-size: 13px}

}

.part-title{
  color: #fff;
  background: #0d2b67;
  display: block;
  height: 50px;
  border-radius: 7px;
  text-align: center;
  padding: 16px;
  font-size: 18px;
}

.list-of-partners{

  direction: rtl;
  width: 100%;
  height: auto;
  list-style-type: none;
  padding: 0;

  .partner{

    width: 100%;
    height: 150px;
    border: 1px #dddddd solid;
    border-radius: 7px;
    margin: 10px 0;

    .partner-box{

      width: 100%;
      height: 100%;
      border: 1px #0d2b67 solid;
      border-radius: 7px;

      .partner-pic{
          height: 100%;
          width: 15%;
          float: right;
          border: 1px #0d2b67 solid;
          text-align: center;

          img{
              height: 100%;
              padding: 10px;
              border-radius: 20px;
              max-width: 100%;
          }
      }

      .partner-detail{

          height: 100%;
          width: 85%;
          float: right;
          border: 1px #0d2b67 solid;

          .detail-list{
            list-style-type: none;
            padding: 10px 20px;

            li{

              line-height: 25px;

              .title{
                font-weight: bold;
                color: #0d2b67;
              }

              .full-name{
                font-weight: bold;
                color: #0d2b67;
                font-size: 1.3em;
              }

              .email{

              }

              .membership-type{

              }

              .degree{

              }

              .project{
                font-weight: bold;
                color: #bf4844;
              }

            }

          }

      }

    }

    &.head{
      height: 175px;
    }

  }

}